 # ------------------------------------
# 1. Dependencias y Entorno Python
# ------------------------------------
# Virtual environments (venv)
venv/
.venv/
env/
.env

# Archivos de compilación y caché de Python
__pycache__/
*.pyc
*.pyo
*~$
*.egg-info/
.pytest_cache/

# Logs y otros archivos de Pytest
*.log
.coverage

# ------------------------------------
# 2. Artefactos y Reportes Generados
# ------------------------------------
# Archivos de audio generados por gTTS y usados por Vosk (Requisito 3)
/artifacts/ 

# Reportes de Pytest-HTML, Allure, etc. (Requisito 4)
test_report.html
allure-report/
allure-results/

# ------------------------------------
# 3. Modelos de IA Grandes (Vosk/Whisper)
# ------------------------------------
# Carpeta donde guardarías el modelo Vosk (¡NO debe subirse a GitHub!)
src/vosk-model/ 
models/
